/* ================== Order Details List ============== */
.details {
    position: relative;
    width: 100%;
    max-width:100%;
    padding: 20px;
    display: grid;
    /*grid-template-columns: 2fr 1fr;
    grid-gap: 30px;*/
     margin-top: 10px; 
}

    .details .recentOrders {
        position: relative;
        display: grid;
        min-height: 500px;
        padding: 20px;
        box-shadow: 0px 2px 12px 0px rgb(177, 110, 37, 98%);
        border-radius: 20px;
    }

    .details .cardHeader {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
    }

.cardHeader h2 {
    font-weight: 600;
    font-size: 1.8rem;
    color: #F2F1F4;
    font-family: 'BodoniModa_72pt-Regular';
}



.details table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

    .details table thead td {
        font-weight: 600;
        font-size: 1.9rem;
    }

    .details table tbody td {
        font-size: 1.7rem;
    }

.details .recentOrders table tr {
    color: #F2F1F4;
    border-bottom: 1px solid #F2F1F41a;
}

    .details .recentOrders table tr:last-child {
        border-bottom: none;
    }

.details .recentOrders table tbody tr:hover {
    background: #F2F1F4;
    color: #1d120c;
}

.details .recentOrders table tr td {
    padding: 10px;
}

    .details .recentOrders table tr td:last-child {
        text-align: end;
    }

    .details .recentOrders table tr td:nth-child(2) {
        text-align: end;
    }

    .details .recentOrders table tr td:nth-child(3) {
        text-align: center;
    }

.status.delivered {
    padding: 2px 4px;
    background: #8de02c;
    color: #1d120c;
    border-radius: 4px;
    font-size: 14px;
    font-weight: 500;
}

.status.pending {
    padding: 2px 4px;
    background: #e9b10a;
    color: #1d120c;
    border-radius: 4px;
    font-size: 14px;
    font-weight: 500;
}

.status.return {
    padding: 2px 4px;
    background: #f00;
    color: #1d120c;
    border-radius: 4px;
    font-size: 14px;
    font-weight: 500;
}

.status.inProgress {
    padding: 2px 4px;
    background: #1795ce;
    color: #1d120c;
    border-radius: 4px;
    font-size: 14px;
    font-weight: 500;
}
.immgcun{
    display:flex;
    align-items:center;
}
.immm {
    width: 60px;
    height: 60px;
    margin-right: 0px;
    vertical-align: middle;
    border-radius: 100%;
}