/* page content */

.ProductDetails {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
    margin-top: 70px;
}

    .ProductDetails .arrow {
        width: 60px;
        position: absolute;
        z-index: 2;
        top: 55px;
        left: 10px;
    }

    .ProductDetails .productImge {
        width: 280px;
        position: absolute;
        left: 135px;
        top: 180px;
        /*transform: translateX(-90%);
        z-index: 2;*/
        filter: drop-shadow(0px 0px 50px #b16d25b6);
        border-radius: 0;
    }

    .ProductDetails .Details {
        background-color: #71381E;
        padding: 20px 40px;
        border-top-left-radius: 40px;
        border-bottom-left-radius: 40px;
        height: auto;
        max-height: 100%;
        overflow-y: auto;
    }

        .ProductDetails .Details > * {
            max-width: 100%;
        }

        .ProductDetails .Details .ProductName {
            font-size: 4rem;
            color: #F2F1F4;
            align-items: center;
            display: flex;
            justify-content: space-between;
            font-family: htl;
            position: relative;
        }

            .ProductDetails .Details .ProductName .haret {
                width: 45px;
                cursor: pointer;
            }

        .ProductDetails .Details .Evaluate {
            background-color: #1d120c;
            color: #F2F1F4;
            display: inline-block;
            align-items: center;
            font-size: 2rem;
            padding: 1px 8px;
            border-radius: 15px;
            justify-content: space-between;
            margin: 10px 0px;
        }

            .ProductDetails .Details .Evaluate .star {
                width: 14px;
                margin-top: 3px;
            }

        .ProductDetails .Details .description .subtital {
            font-family: 'aldhabi';
            color: #F2F1F4;
            font-size: 30px;
            line-height: 0.8;
            font-family: 'aldhabi';
            margin-top: 5px;
        }

        .ProductDetails .Details .description .AboutDescription {
            font-family: aldhabi;
            color: #F2F1F4;
            font-size: 2.5rem;
            line-height: 0.8;
            padding-top: 5px;
            opacity: 70%;
        }


@media (max-width: 1030px) {
    .ProductDetails {
        display: block;
        align-items: center;
    }

        .ProductDetails .arrow {
            width: 50px;
            top: 0px;
        }

    .ProductDetails {
        display: block;
        position: relative;
    }



        .ProductDetails .productImge {
            width: 60%;
            position: absolute;
            left: 22%;
            bottom: 70%;
            transform: translateY(-90%);
            z-index: 2;
        }

        .ProductDetails .Details {
            border-radius: 0;
            padding-top: 220px;
            margin-top: 100px;
            margin-bottom: 100px;
            align-items: center;
        }
}
