
        @section Links{
    <title>forgot password</title>
     <link rel="stylesheet"href="~/css/sginin.css" asp-append-version="true"/>
} 
    <div id="myinterface">
 
<img src="~/imges/left-in.png" alt="" class="pat-left">
<img src="~/imges/right-in.png" alt="" class="pat-right">
    <!-- sgin in -->
    <section class="sgin-in">
 
        <div class="contener">
            <div class="form-signup">
                <div class="title">forgot password </div>
           <form asp-action="ForgetPassword" method="post" class="form-for">
    @if (ViewData.ModelState[""]?.Errors.Any() == true)
    {
        <span class="text-danger">@ViewData.ModelState[""].Errors.First().ErrorMessage</span>
    }
    <div class="input-group">
        <div class="input-field">
            <img src="~/imges/dharf.png" alt="" width="35" height="38">
            <input type="email" name="email" placeholder="Email address" required>
        </div>
        <p class="pra1-in">
            We'll send you a link to reset your password
        </p>
        <div class="submit1-in">
            <button type="submit">Send Reset Link</button>
        </div>
    </div>
</form>
              
            </div>
            <img class="cup-in" src="~/imges/344.png" alt="">

        </div>

    </section>
 @section Scripts
{
     <script>
          const ErrorMessage = @Html.Raw(Json.Serialize(TempData["ErrorMessage"]));
        if (ErrorMessage) { 
            alert(ErrorMessage);
        }


        const successMessage = @Html.Raw(Json.Serialize(TempData["SuccessMessage"]));
        if (successMessage) { 
            alert(successMessage);
        }
    </script>
}
