@model string
  
@section Links{
    <title>forgot password</title>
     <link rel="stylesheet"href="~/css/sginin.css" asp-append-version="true"/>
} 
<div id="myinterface">

<img src="~/imges/left-in.png" alt="" class="pat-left">
<img src="~/imges/right-in.png" alt="" class="pat-right">
    <!-- sgin in -->
    <section class="sgin-in">
        <div class="contener">
            <div class="form-signup">
                <div class="title">Reset Password</div>
                <form asp-action="ResetPassword" method="post">
                   <input type="hidden" name="token" value="@Model" />
    <div class="input-group">
        <div class="input-field">
            <img src="~/imges/3138367.png" alt="" width="37" height="38">
            <input type="password" name="newPassword" placeholder="New Password" required>
        </div>
        <div class="input-field">
            <img src="~/imges/3138367.png" alt="" width="37" height="38">
            <input type="password" name="confirmPassword" placeholder="Confirm Password" required>
        </div>
        <div class="submit1-in">
            <button type="submit">Reset Password</button>
        </div>
    </div>
             </form>
              
            </div>
            <img class="cup-in" src="~/imges/344.png" alt="">

        </div>

    </section>
</div>

 @section Scripts
{
     <script>
          const ErrorMessage = @Html.Raw(Json.Serialize(TempData["ErrorMessage"]));
        if (ErrorMessage) { 
            alert(ErrorMessage);
        }

         const successMessage = @Html.Raw(Json.Serialize(TempData["SuccessMessage"]));
        if (successMessage) { 
            alert(successMessage);
        }
    </script>
}




