
            @section Links{
    <title>wellcome</title>
    <link rel="stylesheet"href="~/css/sginin.css" asp-append-version="true"/>
        }

  
    <!-- wellcome -->
    <section class="wellcome">
        <img src="~/imges/1714079031551.jpg" alt="" class="img">
        <div class="all-divs">
            <div class="div-1">Wellcome to our Store</div>
            <div class="div-2">We are pleased to sign up in to our store</div>
            <div class="div-3">We are at your service and we hop to be at your best</div>
            <div class="div-4">To go to the home page<img src="~/imges/ssss.png" alt="">            </div>
            <div class="div-5"><a asp-controller="Home" asp-action="Index">Home</a></div>
        </div>
    </section>
    
   @section Scripts
{
}
