
    @section Links{
     <title>Favorit</title>
     <link rel="stylesheet"href="~/css/css.css" asp-append-version="true"/>
} 

   

<!-- ------------------------------------------------------------------------------- -->
    <section class="faivoret" id="faivoret">
        <div class="title">
            <img src="imges/galeb.png" alt=""><span>Favorite</span>
        </div>
        <div class="Products">



        </div>
    </section>
     
